name: Build and Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Build executable
        run: |
          pyinstaller --onefile --windowed replacer.py
        shell: bash

      - name: Archive Executable (linux)
        if: matrix.os == 'ubuntu-latest'
        run: zip -r doctemplatex_linux.zip dist/
        shell: bash

      - name: Archive Executable (windows)
        if: matrix.os == 'windows-latest'
        run: zip -r doctemplatex_windows.zip dist/
        shell: pwsh

      - name: Archive Executable (macos)
        if: matrix.os == 'macos-latest'
        run: zip -r doctemplatex_macos.zip dist/
        shell: bash

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.os }}-executable
          path: |
            doctemplatex_${{ matrix.os }}.zip

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          files: |
            artifacts/doctemplatex_*.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

